.jumbotron {
    background-image: url(./cube.jpg);
    color: #ffffff
}



@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

@keyframes spin{
    0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}


#atom{
    color: #61DAFB;
    -webkit-animation: spin 7s infinite linear;
    animation: spin 7s infinite linear;
    display:inline-block;
}